@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Do Hyeon', sans-serif;
	padding: 0;
	margin: 0;

}

body{
	background: linear-gradient(black, #9198e5);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}

.timer{
	width: 80%;
	height: 40%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

h1{
	font-family: 'Work Sans', sans-serif;
	color: white;
	font-size: 53px;
}

.count{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 60%;
}

.mins, .secs, .hours, .days{
	width: 60px;
	height: 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.count span{
	color: white;
	font-size: 30px;
}

.Text{

	font-size: 70px;
}